/* Fonts ----------------------------------------- */

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2') format('woff2'),
         url('/fonts/Helvetica.woff') format('woff'),
         url('/fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Miscellaneous --------------------------------- */

html {
    font: normal 1em 'Helvetica', sans-serif;
    line-height: 1;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #eaead9;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

a:active,
a:hover,
:focus {
    outline-width: 0;
}

::-moz-focus-inner {
    border: 0;
}

::-webkit-input-placeholder {
    color: #bbb !important;
}

::-moz-placeholder {
   color: #bbb !important;
   opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #bbb !important;
}

::-ms-input-placeholder {
   color: #bbb !important;
}

img {
  border-style: none;
}

.duplicate,
.hidden {
    display: none !important;
}

#stories {
    margin-top: 3rem;
}

.cards #stories {
    padding-top: 0.1em;
}


/* Header ---------------------------------------- */

#header {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 3rem;
    padding: 0.7rem;
    font-weight: bold;
    background-color: #ff8533;
    background-image: linear-gradient(to right, #ee6000, #f95);
    box-shadow: 0 1px 2px #b5b5b5;
    box-sizing: border-box;
}

.cards #header {
    padding: 0.7rem 2vw;
}

#header img {
    height: 1.3em;
    margin-bottom: 0.2em;
    filter: brightness(1.5);
}

#header-title {
    flex: 1;
    margin-left: 0.5em;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 0.03em;
height: 3rem;
line-height: 3.1rem;
}

#header-title span {
    display: none;
}


/* Options --------------------------------------- */

#options {
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 0.02em;
}

#options > button {
    margin: 0 0.5em;
    padding: 0.2em 0.25em;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.25;
    color: #ee6000;
    border: 0;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: background-color 80ms;
}

#options > button:last-of-type {
    margin-right: 0;
}

.cards #options > button:last-of-type {
    margin-right: 1px;
}

#options > button:focus,
#options > button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#sub {
    height: 1.65rem;
    width: 2.31rem;
    background-color: transparent !important;
    background-image: url('/images/sub.svg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}

#sub:focus,
#sub:hover {
    background-image: url('/images/sub_2.svg');
}

#notify {
    height: 1.65rem;
    width: 1.6rem;
    background: linear-gradient(135deg, transparent 0, transparent 45%,
        rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.8) 55%,
        transparent 55%) center / 51% no-repeat,
        url('/images/notify.svg') center / 1rem no-repeat;
}

#notify.on {
    background: rgba(255, 255, 255, 0.8) url('/images/notify.svg') center / 1rem no-repeat;
}

.no-js #notify,
.no-js #sub,
.no-js #cards {
    display: none;
}

#threshold::after {
    content: '+';
}


/* Story ----------------------------------------- */

.story {
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.1rem 0.7rem;
    color: #696969;
    font-size: 1.15rem;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    transition: color 80ms, background-color 80ms, transform 800ms;
}

.cards .story {
    width: calc(100% - 4vw);
    margin: 1.75vmin 2vw;
    padding: 0.7rem;
    border-radius: 1vmin;
    border-bottom-width: 2px;
    box-shadow: 0 0 3px #dfdfdf;
}

.story:active {
    background-color: #f0f0e4;
}

.story:focus,
.story:hover {
    color: #111;
    background-color: #fff5ee !important;
}

.show-sub .story:nth-of-type(odd) {
    transform: translateX(-105%);
}

.show-sub .story:nth-of-type(even) {
    transform: translateX(105%);
}

@keyframes attention {
    from {
        color: black;
        background-color: #fff5ee;
    }
    to {
        color: #696969;
        background-color: white;
    }
}

.story.new {
    animation: attention 2s ease-out;
}

.score {
    color: #a7a762;
    font-size: 0.95em;
    letter-spacing: 0.02em;
}

.score::after {
    content: ': ';
}

.title {
    line-height: 1.25em;
}

#more {
    display: none;
    color: #a7a762;
    font-style: italic;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
}

#more.disabled {
    cursor: default;
    pointer-events: none;
}


/* Meta ------------------------------------------ */

.meta {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
    font-size: 1rem;
    letter-spacing: 0.015em;
    line-height: 1em;
}

.host {
    display: flex;
    align-items: center;
    margin-left: 0;
    color: #a7a762;
}

.host img {
    width: 1em;
    height: 1em;
    margin-right: 0.45em;
}

.no-js .comments {
    display: none;
}

.comments {
    display: none;
    margin: 0 1em;
    color: #c6c6c6;
    transition: color 80ms;
}

.comments::before {
    content: '|';
    margin-right: 1em;
    color: #c6c6c6;
    font-weight: lighter;
    text-shadow: none;
}

.comments::after {
    content: ' comments';
}

.comments:hover {
    color: unset;
}

.date {
    flex: 1;
    order: 1;
    color: #f95;
    text-align: right;
}

.long {
    letter-spacing: -0.02em;
}


/* Footer ---------------------------------------- */

#footer {
    padding: 4vmin 0;
    width: 100%;
    color: #828282;
    font-size: 1rem;
    letter-spacing: 0.015em;
    text-align: center;
}

#footer.fixed {
    position: fixed;
    bottom: 0;
}

#footer img {
    display: inline-block;
    width: 0.75rem;
    margin: 0 3vmin;
}

#footer a:last-of-type,
#footer img:first-of-type,
#footer img:last-of-type,
#updated {
    display: none;
}

#footer a {
    color: #828282;
}

#footer a:focus,
#footer a:hover {
    text-decoration: underline;
}

#footer a span {
    display: none;
}

#footer a:first-of-type span {
    display: inline;
}


/* Subscribe Card -------------------------------- */

#sub-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#sub-card {
    max-width: 90vw;
    padding: 0.7rem;
    font-size: 0.8rem;
    text-align: center;
    color: #696969;
    background-color: white;
    border-radius: 1vmin;
    border-bottom: 2px solid #dfdfdf;
    box-shadow: 0 0 3px #dfdfdf;
    box-sizing: border-box;
    transform: translateY(-305%);
    transition: transform 800ms;
    pointer-events: auto;
}

.show-sub #sub-card {
    transform: translateY(0);
    transition-delay: 160ms;
}

#sub-card > h2 {
    margin: 1vmin;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

#sub-card > p {
    margin: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

#sub-card > button {
    margin: 0.5em 0 0.8rem;
    padding: 0.3em;
    font-weight: bolder;
    font-size: 1rem;
    text-shadow: 0 -1px rgba(239, 95, 0, 0.7);
    color: white;
    background-color: #ff8533;
    box-shadow: 0 0 1px rgba(239, 95, 0, 0.5);
    border: 0;
    border-bottom: 1px solid #ee6000;
    border-radius: 2px;
    cursor: pointer;
    transition: text-shadow 80ms, background-color 80ms, border-bottom-color 80ms, box-shadow 80ms;
}

#sub-card > button[disabled],
#sub-card > button[disabled="true"] {
    text-shadow: 0 -1px rgba(95, 95, 95, 0.2);
    background-color: #bbb;
    box-shadow: 0 0 1px rgba(95, 95, 95, 0.5);
    border-bottom-color: #aaa;
    cursor: default;
}

#sub-card > input {
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(234, 234, 217, 0.5);
    transition: border-color 80ms;
}

#sub-card > input:focus {
    border-color: rgba(255, 153, 85, 0.5);
}

#sub-close {
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.65;
    color: #bbb;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px #dfdfdf, 0 0 0 3px #eaead9;
    transition: color 80ms, box-shadow 80ms;
    cursor: pointer;
}

#sub-close:focus,
#sub-close:hover {
    color: #696969;
    box-shadow: 0 0 0 2px #ff8533, 0 0 0 3px #eaead9;
}

#sub-email {
    max-width: 90%;
    margin: 0.5rem 0 0.7rem;
    padding: 0.3rem;
    font-size: 1.6em;
    letter-spacing: -0.01em;
}

#sub-thresh {
    display: block;
    width: 9rem;
    margin: 1rem auto;
    font-size: 2.5em;
    font-weight: bolder;
    letter-spacing: 0.01em;
}


/* Media Queries --------------------------------- */

@media (min-width: 360px) {
    #sub-card {
        max-width: 20rem;
        font-size: 1rem;
    }
}

@media (min-width: 380px) {
    #header-title {
        font-size: 1.2rem;
    }

    .meta .long {
        letter-spacing: unset;
    }
}

@media (min-width: 420px) {
    #footer a:first-of-type span {
        display: none;
    }

    #footer img:first-of-type,
    #updated {
        display: inline-block;
    }
}

@media (min-width: 480px) {
    .cards .story {
        margin: 8px 2vw;
        border-radius: 5px;
    }

    #sub-card {
        border-radius: 5px;
    }

    .comments {
        display: inline;
    }

    #footer a:first-of-type span {
        display: inline;
    }
}

@media (min-width: 520px) {
    #header-title span {
        display: inline;
    }
}

@media (min-width: 600px) {
    .story {
        padding: 1.2rem 0.8rem;
    }

    #header,
    .cards .story {
        padding: 0.8rem;
    }

    #header-title,
    .story {
        font-size: 1.25rem;
    }

    #options > button {
        margin: 0 0.6em;
    }
}

@media (min-width: 640px) {
    #footer a span {
        display: inline;
    }
}

@media (min-width: 1024px) {
    .story {
        letter-spacing: 0.015em;
    }

    #footer a:last-of-type,
    #footer img:last-of-type {
        display: inline-block;
    }
}
